.catalogo-vinilo img{
    width: 1000px;
}
.catalogo-vinilo {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grids-1 {
    display: grid;
    width: 100%;
    height: 400px;
    grid-template-columns: repeat(3, 14.375rem  );
    grid-row: 70px  70px 70px ;
    justify-content: center;
    align-content: center;  
    grid-template-areas: 
    "section1 section2 section3"
    "section1 section2 section3"
    "section1 section2 section3";
    column-gap: 1.25rem;
    gap: 3.125rem  ;         
}


.section1 {
    grid-area: section1;
    
}
.VINILOS {
    background-color: black;
    border-radius: 15px;
    border-color: red;
    margin: 25px;
    padding: 25px;
}

.section2 {
    grid-area: section2;
}


.LIBROS {
    background-color: black;
    border-radius: 15px;
    border-color: red;
    margin: 25px;
    padding: 25px;
}

.section3 {
    grid-area: section3;
}
.CD {
    background-color: black;
    border-radius: 15px;
    border-color: red;
    margin: 25px;
    padding: 25px;


}

button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    gap: .9375rem;
    justify-content: center;
    align-items: center;
}

button :hover {
    color: lightcoral;
}

button a{
    color: rgb(197, 186, 186);
    text-decoration: none;
}

