footer {

    background-color: hsl(0, 0%, 0%);
    font-family: 'Bebas Neue', sans-serif;
    padding: 15px;
    
}
.abajo {
    justify-content: space-evenly;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
}
.location {
    color: white;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
}

.contacto {
    color: white;
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
}

.horarios {
    color: hsl(0, 0%, 100%);
    font-size: 25px;   
    font-family: 'Bebas Neue', sans-serif;
}