.willy-gonzalez img{
    width: 600px;
}

.willy-gonzalez {
    justify-content: center;
    display: flex;
}

.texto-nosotros {
    display: flex;
    justify-content: center;
    align-items: centers;
    padding: 35px;
}


.texto-nosotros h1 {
    font-size: 25px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    width: 1000px; 
}